@model ForgetPasswordViewModel
@{
    Layout = "_UserLayout1";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br /><br />

    <h2>New Password Page</h2>
    <form method="post">
        <label>Enter Email</label>
        <input type="text" class="form-control" asp-for="Email" />
        <br />
        <button class="btn btn-primary">New Password</button>
    </form>

</div>
