@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_UserLayout1";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Account Lockout</title>
</head>

<body>
<div class="container">
    <div class="form-control">
    <h2 class="alert-danger">Account Lockout</h2>
    <p >Your account has been temporarily locked due to multiple consecutive failed login attempts. Please try again later.</p>
    <p>If you need assistance, contact support at support@example.com.</p>
    </div>
</div>
</body>
</html>

